@use '../abstracts/variables' as *;

.section-gallery {
    display: block;
    padding-top: 30px;
    @media (min-width: 768px ) {
        display: flex;
        min-height: calc(100vh - 220px);
        padding-top: 0px;
    }
    .gallery-sidebar {
        padding-right: 50px;
        display: block;
        @media (min-width: 768px ) {
            width: 280px;
            padding-left: 80px;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
        }
        .gallery-sidebar-description {
            p {
                color: $color-secondary;
                font-size: 14px;
                line-height: normal;
                margin-bottom: 0;
            }
        }
        .gallery-sidebar-link {
            display: block;
            color: $color-primary;
            margin-top: 40px;
            padding-left: 50px;
            text-align: center;
            &:hover {
                color: $color-secondary;
            }
            margin-bottom: 30px;
            @media (min-width: 768px ) {
                margin-top: auto;
                padding-left: 0px;
                text-align: left;
                margin-bottom: 60px;
            }
        }
    }
    .gallery__slider-wrapper {
        width: 100%;
        margin: 0;
        display: flex;
        position: relative;
        padding-bottom: 30px;
        @media (min-width: 768px ) {
            max-height: calc(100vh - 220px);
            max-width: calc(100vw - 280px);
            padding-bottom: 60px;
        }
        .gallery__img-wrapper {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            position: relative;
            padding-left: 0px;
            max-height: 360px;
            @media (min-width: 768px ) {
                padding-right: 130px;
                max-height: none;
            }
            @media (min-width: 1400px ) {
                padding-right: 130px;
                padding-left: 130px;
            }

            .gallery__img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                display: block;
            }
        }
        .back-button {
            position: absolute;
            right: -10px;
            top: -30px;
            z-index: 2;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            :hover {
                color: $color-secondary;
            }
            @media (min-width: 768px ) {
                right: 70px;
                top: 0px;
            }
        }
        .gallery__nav {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: none;
            @media (min-width: 768px ) {
                display: flex;
            }
            .gallery__prev {
                width: 50%;
                height: 100%;
                margin-right: auto;
                background: transparent;
                border: none;
            }
            .gallery__next {
                width: 50%;
                height: 100%;
                margin-left: auto;
                background: transparent;
                border: none;
            }
        }

        .open-gallery {
            position: absolute;
            right: 15px;
            top: -30px;
            width: 30px;
            height: 30px;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-size: 16px;
            @media (min-width: 768px ) {
                right: 95px;
                top: 0px;
            }
        }
    }
    
    .slide-counter {
        position: absolute;
        bottom: -18px;
        right: 0px;
        z-index: 2;
        @media (min-width: 768px ) {
            bottom: 60px;
            right: 80px;
        }
    }
}

.gprev,
.gnext {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

.glightbox-clean .gclose {
    display: none !important;
}

.goverlay {
    background-color: rgba($color-bg-primary, 0.5)!important;

    backdrop-filter: blur(5px)!important;
    -webkit-backdrop-filter: blur(5px)!important;

    transition: background-color 0.3s ease, backdrop-filter 0.3s ease!important;
}

.custom-glightbox-close {
    color: $color-primary;
    background: transparent;
    &:hover {
        color: $color-secondary;
        background: transparent;
    }
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 9999;
    border: none;
    font-size: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    @media (min-width: 768px ) {
        top: 30px;
        right: 20px;
    }
}

.glightbox-container .gcontainer {
    padding: 20px 20px 20px 20px!important;
    @media (min-width: 768px ) {
        padding: 40px 80px 40px 40px!important;
    }
}