@use '../abstracts/variables' as *;

.section-projects {
    .section-projects--container {
        @media (min-width: 768px ) {
            &:last-of-type {
                margin-bottom: 130px;
            }
        }
        margin-bottom: 40px;
        padding-left: 0px;
        @media (min-width: 1400px ) {
            margin-bottom: 60px;
            padding-left: 100px;
        }
        @media (min-width: 1600px ) {
            margin-bottom: 80px;
            padding-left: 200px;
        }
        padding-right: 200px;
        @media (max-width: 767.98px ) {
            padding-right: 0px;
        }
        position: relative;
        .section-projects--image-container {
            display: flex;
            justify-content: center;
            .section-projects--image-link {
                display: block;
                width: 100%;
                @media (min-width: 1400px ) {
                    max-width: 600px;
                }
                @media (min-width: 1600px ) {
                    max-width: 800px;
                }
                @media (min-width: 1800px ) {
                    max-width: 1200px;
                }
                @media (min-width: 2000px ) {
                    max-width: 1400px;
                }
                img {
                    aspect-ratio: 16/9;
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        .section-projects--title-container {
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: 0;
            max-width: 180px;
            .section-projects--title {
                text-align: right;
                @media (max-width: 767.98px ) {
                    text-align: left;
                }
            }
            .section-projects--date {
                text-align: right;
                @media (max-width: 767.98px ) {
                    text-align: left;
                }
            }
            @media (max-width: 767.98px ) {
                position: static;
                margin-top: 20px;
            }
        }
    }
}