{% extends "base.html.twig" %}

{% block content %}

    <aside class="main-sidebar"></aside>

    {# MAIN CONTENT #}
    <main class="site-main site-main-homepage">
        {% include 'includes/blocks.html.twig' %}
    </main>

{% endblock %}