{% extends "base.html.twig" %}

{% block content %}
    <section class="section section-imprint">
        <div>
            {% if content.title|default %}
                <div class="section__title">
                    <h2>{{ content.title }}</h2>
                </div>
            {% endif %}
            {% if content.description|default %}
                <div class="section-imprint__content">
                    {{ content.description|raw }}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}