$color-primary: #777672;
$color-secondary: #29292b;
$color-terciary: #13293d;
$color-bg-primary: #efefe7;
// $color-bg-secondary: #e1e6eb;
$color-bg-secondary: #f5f5f5;
$color-bg-terciary: #f5f5f5;

$header-py: 22px;
$header-py-scrolled: 0.25rem;
$header-height: 110px;
$header-height-scrolled: 75px;