{# BLOCK: COMMING SOON #}
<section class="section section-comming-soon">
    {% if content.title|default %}
        <div class="comming-soon__title">
            {{ content.title }}
        </div>
    {% endif %}
</section>