{# HEADER #}
<header class="header" id="site-header">
    <div class="nav-logo">
        <a href="{{ sulu_content_root_path('/') }}">Monos.</a>
    </div>
    <nav class="header__nav" aria-label="Primary">
        <ul>
            {% for item in sulu_navigation_root_tree('main', 1, true) %}
                {% set itemUrl = sulu_content_path(item.url, item.webspaceKey) %}
                {% set isActive = sulu_navigation_is_active(request.resourceLocator, item.url) ? true : false %}
                <li class="nav-item">
                    <a href="{{ itemUrl }}" class="{{ isActive ? 'active nav-item-active' : '' }}">{{ item.title|default }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>