@use '../abstracts/variables' as *;

/* --------------------------------------------------------------------
   FOOTER
-------------------------------------------------------------------- */
.footer {
    color: $color-primary;
    font-size: 12px;
    line-height: normal;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    .container-fluid {
        padding-left: 80px;
        padding-right: 80px;
    }

    .footer-wrapper {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-links,
    .footer-items {
        display: flex;
    }

    .footer-links {
        a {
            color: $color-primary;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .footer-items {
        a {
            color: $color-primary;
            padding-left: 5px;
            padding-right: 5px;
            text-decoration: none;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    .footer-right {
        display: flex;
    }

    .footer-text {
        padding-left: 5px;
        padding-right: 5px;
    }

    .footer-credentials {
        padding-left: 5px;

        a {
            color: $color-primary;
            text-decoration: none;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    .footer-logo {
        img {
            display: inline-block;
            max-width: 45px;
            height: auto;
        }
    }

    .locales {
        margin-top: auto;

        a {
            color: $color-primary;
            text-decoration: none;
            margin-right: 10px;
            &:hover {
                color: $color-secondary;
            }
        }
    }

    &__lang-link--active {
        color: $color-secondary!important;
    }

    @media (max-width: 991.98px) {
        .footer-wrapper {
            padding-top: 20px;
            padding-bottom: 20px;
            height: auto;
        }

        .container-fluid {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    // &::before {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     height: 1px;
    //     background-color: #000;
    //     transform: scaleY(0.2);
    //     transform-origin: top;
    // }
}
