@use '../abstracts/variables' as *;

/* --------------------------------------------------------------------
   HEADER
-------------------------------------------------------------------- */
.header {
    position: fixed;
    height: 140px;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 80px 80px 0px 80px;
    color: $color-primary;
    font-size: 14px;
    line-height: normal;
    display: flex;
    justify-content: space-between;
    background-color: $color-bg-primary;
    @media (max-width: 575.98px ) {
        height: auto;
        padding: 30px 20px 30px 20px;
        position: static;
    }
    @media (min-width: 575.98px ) and (max-width: 767.98px ) {
        height: auto;
        padding: 50px 80px 25px 80px;
        position: static;
    }

    .nav-logo {
        a {
            text-decoration: none;
            color: $color-secondary;
        }
    }

    &__nav {
        .nav-desk {
            padding: 0;
            @media (min-width: 768px ) {
                display: flex;
            }
        }

        .nav-item {
            display: block;
            @media (max-width: 767.98px ) {
                margin-bottom: 10px;
            }
            @media (min-width: 768px ) {
                padding-left: 20px;
                padding-right: 20px;
                &:last-of-type {
                    padding-right: 0;
                }
            }

            a {
                color: $color-primary;
                text-decoration: none;
                @media (max-width: 767.98px ) {
                    display: block;
                    text-align: right;
                }
            }
            &:hover {
                a {
                    color: $color-secondary;
                }
            }
            .nav-item-active {
                color: $color-secondary;
            }
            .active {
                color: $color-secondary;
            }
        }

        .menu-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            @media (min-width: 768px ) {
                display: block;
                margin-top: 0px;
            }
            .nav-mob-second, .nav-mob-main {
                ul {
                    padding: 0;
                }
                @media (max-width: 767.98px ) {
                    margin-bottom: 0;
                }
                .nav-item-mob {
                    display: block;
                    text-align: right;
                    margin-bottom: 10px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    a {
                        color: $color-primary;
                        text-decoration: none;
                        display: block;
                        text-align: end;
                    }
                    &:hover {
                        a {
                            color: $color-secondary;
                        }
                    }
                    .nav-item-active {
                        color: $color-secondary;
                    }
                    .active {
                        color: $color-secondary;
                    }
                }
            }
            .nav-mob-main {
                margin-left: 70px;
            }
        }
    }

    .locales {
        a {
            color: $color-primary;
            text-decoration: none;
            margin-left: 10px;
            &:hover {
                color: $color-secondary;
            }
        }
    }
}