@use '../abstracts/variables' as *;

/* --------------------------------------------------------------------
   BUTTONS
-------------------------------------------------------------------- */

$radius-pill: 9999px;

.btn {
    border-radius: $radius-pill;
}

.btn-cta {
    height: 56px;
    padding-inline: 40px;
    border-radius: $radius-pill;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__cta {
    border-radius: $radius-pill;
    padding-right: 0.5rem;

    &--left {
        padding-right: 40px;
        padding-left: 0.5rem;
    }
}
.hero__cta-icon {
    width: 38px;
    height: 38px;
    border-radius: $radius-pill;
    background: $color-primary;
    color: #fff;
    font-size: 1.125rem;
    display: inline-grid;
    place-items: center;
}
