@use '../abstracts/variables' as *;

.section-imprint {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width: 575.98px ) and (max-width: 767.98px ) {
        padding-left: 80px;
        padding-right: 80px;
    }
    @media (min-width: 768px ) {
        display: flex;
        min-height: calc(100vh - 220px);
        justify-content: center;
        padding-top: 140px;
        padding-bottom: 140px;
        padding-left: 80px;
        padding-right: 80px;
    }
    p {
        margin-bottom: 20px;
    }
    .section__title {
        max-width: 700px;
        margin: auto;
        color: $color-secondary;
        h1, h2, h3, h4, h5, h6 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 60px;
            letter-spacing: .3px;
            @media (min-width: 768px ) {
                font-size: 14px;
            }
        }
    }
    .section-imprint__content {
        max-width: 700px;
        margin: auto;
        color: $color-secondary;
        h1, h2, h3, h4, h5, h6 {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 20px;
            @media (min-width: 768px ) {
                font-size: 14px;
            }
        }
    }
}