<?xml version="1.0" ?>
<template xmlns="http://schemas.sulu.io/template/template"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://schemas.sulu.io/template/template http://schemas.sulu.io/template/template-1.0.xsd">

    <key>settings</key>

    <meta>
        <title lang="en">Settings</title>
        <title lang="de">Settings</title>
    </meta>

    <areas>
        <!-- @see https://docs.sulu.io/en/2.2/cookbook/default-snippets.html -->
        <area key="webspace_settings">
            <meta>
                <title lang="en">Webspace Settings</title>
                <title lang="de">Webspace Settings</title>
            </meta>
        </area>
    </areas>

    <properties>
        <property name="title" type="text_line" mandatory="true">
            <meta>
                <title lang="en">Title</title>
                <title lang="de">Titel</title>
            </meta>

            <tag name="sulu.node.name"/>
        </property>

        <section name="header">
			<meta>
				<title lang="en">Header</title>
			</meta>
            
			<properties>

				<property name="header_logo" type="single_media_selection">
                    <meta>
                        <title lang="en">Logo</title>
                    </meta>
                </property>
                <property name="hide_languages" type="select">
                    <meta>
                        <title lang="en">Hide Language in Switcher</title>
                    </meta>

                    <params>
                        <param name="values" type="collection">
                            <param name="sr">
                                <meta>
                                    <title lang="en">Serbian</title>
                                </meta>
                            </param>
                            <param name="en">
                                <meta>
                                    <title lang="en">English</title>
                                </meta>
                            </param>
                            <param name="de">
                                <meta>
                                    <title lang="en">German</title>
                                </meta>
                            </param>
                            <param name="ja">
                                <meta>
                                    <title lang="en">Japanese</title>
                                </meta>
                            </param>
                        </param>
                    </params>
                </property>


                <property name="header_button_text" type="text_line" colspan="6">
                    <meta>
                        <title lang="en">Button Text</title>
                    </meta>
                </property>
                <property name="header_button_link" type="link" colspan="6">
                    <meta>
                        <title lang="en">Button Link</title>
                    </meta>
                </property>
			</properties>
		</section>

        <section name="footer">
			<meta>
				<title lang="en">Footer</title>
			</meta>
            
			<properties>
                <property name="footer_logo" type="single_media_selection">
                    <meta>
                        <title lang="en">Logo</title>
                    </meta>
                </property>

				<property name="footer_text" type="text_line">
                    <meta>
                        <title lang="en">Text</title>
                    </meta>
                </property>

                <property name="linkedin_link" type="link" colspan="6">
                    <meta>
                        <title lang="en">LinkedIn Link</title>
                    </meta>
                </property>

                <property name="x_link" type="link" colspan="6">
                    <meta>
                        <title lang="en">X Link</title>
                    </meta>
                </property>

                <property name="mail_link" type="link" colspan="6">
                    <meta>
                        <title lang="en">Mail Link</title>
                    </meta>
                </property>

                <property name="footer_menu1_title" type="text_line">
                    <meta>
                        <title lang="en">Footer menu 1 - Title</title>
                    </meta>
                </property>

                <block name="footerMenu1" default-type="item">
                    <meta>
                        <title lang="en">Footer menu 1</title>
                    </meta>

                    <types>
                        <type name="item">
                            <meta>
                                <title lang="en">Footer item</title>
                            </meta>

                            <properties>
                                <property name="title" type="text_editor" colspan="6" mandatory="true">
                                    <meta>
                                        <title lang="en">Title</title>
                                    </meta>
                                </property>
                                <property name="link" type="link" colspan="6" mandatory="true">
                                    <meta>
                                        <title lang="en">Link</title>
                                    </meta>
                                </property>
                            </properties>
                        </type>
                    </types>
                </block>

                <property name="footer_menu2_title" type="text_line">
                    <meta>
                        <title lang="en">Footer menu 2 - Title</title>
                    </meta>
                </property>

                <block name="footerMenu2" default-type="item">
                    <meta>
                        <title lang="en">Footer menu 2</title>
                    </meta>

                    <types>
                        <type name="item">
                            <meta>
                                <title lang="en">Footer item</title>
                            </meta>

                            <properties>
                                <property name="title" type="text_editor" colspan="6" mandatory="true">
                                    <meta>
                                        <title lang="en">Title</title>
                                    </meta>
                                </property>
                                <property name="link" type="link" colspan="6" mandatory="true">
                                    <meta>
                                        <title lang="en">Link</title>
                                    </meta>
                                </property>
                            </properties>
                        </type>
                    </types>
                </block>

                <property name="footer_menu3_title" type="text_line">
                    <meta>
                        <title lang="en">Footer menu 3 - Title</title>
                    </meta>
                </property>

                <block name="footerMenu3" default-type="item">
                    <meta>
                        <title lang="en">Footer menu 3</title>
                    </meta>

                    <types>
                        <type name="item">
                            <meta>
                                <title lang="en">Footer item</title>
                            </meta>

                            <properties>
                                <property name="title" type="text_editor" colspan="6" mandatory="true">
                                    <meta>
                                        <title lang="en">Title</title>
                                    </meta>
                                </property>
                                <property name="link" type="link" colspan="6" mandatory="true">
                                    <meta>
                                        <title lang="en">Link</title>
                                    </meta>
                                </property>
                            </properties>
                        </type>
                    </types>
                </block>

                <property name="copyright" type="text_editor">
                    <meta>
                        <title lang="en">Copyright</title>
                    </meta>
                </property>

                <property name="bottom_text" type="text_line">
                    <meta>
                        <title lang="en">Bottom Text</title>
                    </meta>
                </property>
			</properties>
		</section>

        <property name="account" type="single_account_selection">
            <meta>
                <title lang="en">Organization</title>
                <info_text lang="en">The selected organization will be used for displaying contact informations on the website.</info_text>
            </meta>
        </property>
    </properties>
</template>