<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
	<head>
		{% set webspaceSettings = sulu_snippet_load_by_area('webspace_settings') %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{{ asset('website/img/favicon.png') }}" rel="icon"/>

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
			/>
		<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

		<title>Monos</title>

		{% block meta %}
			{% include "@SuluWebsite/Extension/seo.html.twig" with {
				"seo": extension.seo|default([]),
				"content": content|default([]),
				"localizations": localizations|default([]),
				"shadowBaseLocale": shadowBaseLocale|default(),
			} %}
		{% endblock %}

		{% block style %}
            {{ encore_entry_link_tags('website') }}
        {% endblock %}

		{# <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
			async defer>
		</script> #}
		{% block javascripts %}
            {{ encore_entry_script_tags('website') }}
        {% endblock %}

	</head>
	<body data-controller="remove-scroll-memory">
		{% block header %}
			{% include 'includes/header.html.twig' %}
		{% endblock %}

		{% block content %}{% endblock %}

		{% block footer %}
			{% include 'includes/footer.html.twig' with {
				"footerInfo": webspaceSettings.content ?? '',
			} %}
		{% endblock %}

		<div class="global-loader" data-controller="loader"></div>
	</body>
</html>

