@use '../abstracts/variables' as *;
/* --------------------------------------------------------------------
   TYPOGRAPHY
-------------------------------------------------------------------- */
body {
    font-family: var(--font-sans);
    line-height: normal;
    color: $color-primary;
    background-color: $color-bg-primary;
}

h1,
.h1 {
    font-weight: 800;
    line-height: 1.08;
    letter-spacing: 0.2px;
    font-size: clamp(2.25rem, 6vw, 4rem);
}
h2,
.h2 {
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.2px;
    font-size: clamp(1.875rem, 4.5vw, 3rem);
}
h3,
.h3 {
    font-weight: 700;
    line-height: 1.15;
    font-size: clamp(1.5rem, 3.4vw, 2.25rem);
}
h4,
.h4 {
    font-weight: 700;
    line-height: 1.2;
    font-size: clamp(1.25rem, 2.6vw, 1.75rem);
}
h5,
.h5 {
    font-weight: 700;
    line-height: 1.25;
    font-size: 1.25rem;
}
h6,
.h6 {
    font-weight: 700;
    line-height: 1.25;
    font-size: 1rem;
}

.lead {
    font-size: clamp(1.0625rem, 1.8vw, 1.25rem);
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

.main-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    z-index: 1001;
    background: transparent;
    pointer-events: none;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 1px;
        background-color: #000;
        transform: scaleX(0.2);
        transform-origin: right;
    }
}

.site-main {
    min-height: calc(100vh - 220px);
    margin-top: 140px;
}

.site-main-homepage {
    min-height: calc(100vh - 220px);
    margin-top: 140px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #000;
        transform: scaleY(0.2);
        transform-origin: top;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #000;
        transform: scaleY(0.2);
        transform-origin: bottom;
    }
}
